<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update person</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/user-home/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="fullname">Enter fullname: </label>
    <input type="text" th:field="*{fullname}" id="fullname"/>
    <div style="color:red" th:if="${#fields.hasErrors('fullname')}" th:errors="*{fullname}">Fullname Error</div>
    <br>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
    <br>
    <label for="phone">Enter phone: </label>
    <input type="text" th:field="*{phone}" id="phone"/>
    <div style="color:red" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Phone Error</div>
    <br>
    <label for="address">Enter address: </label>
    <input type="text" th:field="*{address}" id="address"/>
    <div style="color:red" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Address Error</div>
    <br>
    <label for="date_of_birth">Enter date_of_birth: </label>
    <input type="text" th:field="*{date_of_birth}" id="date_of_birth"/>
    <div style="color:red" th:if="${#fields.hasErrors('date_of_birth')}" th:errors="*{date_of_birth}">Date_of_birth Error</div>

    <input type="submit" value="Update!"/>
</form>

</body>
</html>